* {
  margin: 0px;
  padding: 0px;
}

/* for testing only*/
*, ::after, ::before {
  outline: 2px solid red;
}

p, h1, h2, h3, ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-section {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .header-section {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.block-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icons-web {
  display: flex;
  justify-content: center;
}

.button-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .button-mobile {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.button-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #188CE8;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-main:hover {
  cursor: pointer;
}

.buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  /* text-decoration: underline; */
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-telegram {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-telegram:hover, .button-telegram:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.text-telegram {
  font-family: "Roboto", sans-serif;
  font-style: 400;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-right: 10px;
}

.button-submit {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.text-submit {
  font-family: "Roboto", sans-serif;
  font-style: 400;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  /*background-image: url(../images/icons/close.svg);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover, .button-close:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.close {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.button-close:hover .close, .button-close:focus .close {
  fill: #2196F3;
}

.envelope {
  width: 16px;
  height: 12px;
}

.contact-header:hover .envelope, .contact-header:focus .envelope {
  fill: #2196F3;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contact-header:hover .smartphone, .contact-header:focus .smartphone {
  fill: #2196F3;
}

.envelope, .smartphone {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-feature {
  width: 70px;
  height: 70px;
}

.svg-client-1 {
  width: 44px;
  height: 49px;
}

.svg-client-2 {
  width: 40px;
  height: 52px;
}

.svg-client-3 {
  width: 41px;
  height: 43px;
}

.svg-client-4 {
  width: 80px;
  height: 42px;
}

.svg-client-5 {
  width: 59px;
  height: 47px;
}

.svg-client-6 {
  width: 88px;
  height: 45px;
}

.svg-web, .svg-footer-web {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-web {
  fill: #AFB1B8;
}

.link-web:hover .svg-web, .link-web:focus .svg-web {
  fill: #FFFFFF;
}

.svg-footer-web {
  fill: #FFFFFF;
}

.link-footer-web:hover .svg-footer-web, .link-footer-web:focus .svg-footer-web {
  fill: #FFFFFF;
}

.modal-name-svg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 141px;
  left: 52px;
}

@media screen and (min-width: 1200px) {
  .modal-name-svg {
    top: 107px;
    left: 55px;
  }
}

.modal-phone-svg {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 209px;
  left: 52px;
}

@media screen and (min-width: 1200px) {
  .modal-phone-svg {
    top: 174px;
    left: 55px;
  }
}

.modal-email-svg {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 277px;
  left: 52px;
}

@media screen and (min-width: 1200px) {
  .modal-email-svg {
    top: 243px;
    left: 54px;
  }
}

.svg-telegram {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 28px;
  }
}

.logo:hover, .logo:focus {
  color: #2196F3;
  /* text-decoration: underline; */
  cursor: pointer;
}

.logo-header {
  color: #212121;
}

.logo-footer {
  color: #FFFFFF;
}

header {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  header {
    font-size: 18px;
    line-height: 21px;
  }
}

header .logo {
  margin-right: 93px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .navigation {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.container-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-nav {
    display: inline-flex;
  }
}

.container-address {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-address {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container-address {
    display: inline-flex;
  }
}

.nav-item, .mobile-nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav {
  color: #212121;
}

.contact-header {
  display: flex;
  align-items: center;
  color: #757575;
  font-style: normal;
}

.nav, .contact-header {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover, .nav:focus,
.contact-header:hover, .contact-header:focus {
  color: #2196F3;
  /* text-decoration: underline; */
  cursor: pointer;
}

.studio, .portfolio {
  color: #2196F3;
}

.studio::after, .portfolio::after {
  content: '';
  background-color: #2196F3;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
}

@media screen and (max-width: 767px) {
  .studio::after, .portfolio::after {
    bottom: -8px;
  }
}

@media screen and (max-width: 767px) {
  .studio::after {
    width: 66px;
    left: calc((100% - 66px)/2);
  }
}

@media screen and (max-width: 767px) {
  .portfolio::after {
    width: 99px;
    left: calc((100% - 99px)/2);
  }
}

.mobile-menu {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
}

.container-mobile-nav {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-mobile-address {
  padding-bottom: 60px;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-contact-item .contact-header {
  justify-content: center;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

footer address {
  margin-top: 20px;
}

.container-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: #FFFFFF;
}

.contact-footer, .address {
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover, .contact-footer:focus,
.address:hover, .address:focus {
  color: #2196F3;
  /* text-decoration: underline; */
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .container-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .left-center {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .left-center {
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .left-center {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .left-footer {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .center-footer {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .center-footer {
    padding-top: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .right-footer {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .center-footer, .right-footer {
    padding-top: 12px;
  }
}

.together {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.icons-footer-web {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .icons-footer-web {
    justify-content: center;
  }
}

.form-telegram {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-telegram {
    display: flex;
  }
}

.input-telegram {
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .input-telegram {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .input-telegram {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .input-telegram {
    margin-bottom: 20px;
  }
}

.input-telegram:hover, .input-telegram:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.item-web:not(:last-child), .item-footer-web:not(:last-child) {
  margin-right: 10px;
}

.link-web {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-web:hover, .link-web:focus {
  background-color: #2196F3;
}

.link-footer-web {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-web:hover, .link-footer-web:focus {
  background-color: #2196F3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/*.hero.open {
    opacity: 0;
    visibility: hidden;
}*/
.section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main {
  width: 360px;
  height: 84px;
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .header-main {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 60px;
  }
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    margin-top: -30px;
  }
}

.block-feature {
  /*width: 270px;*/
}

@media screen and (min-width: 768px) {
  .block-feature {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .block-feature {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .block-feature {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .block-feature:not(:first-child) {
    margin-top: 30px;
  }
}

.icon-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 270px;*/
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.header-feature {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.pictures-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .pictures-section {
    display: none;
  }
}

.images {
  display: flex;
  flex-wrap: row;
  margin-left: -30px;
}

@media screen and (max-width: 1199px) {
  .images {
    display: none;
  }
}

.image {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  /*width: 370px;*/
  position: relative;
}

.sign {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.names-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .names-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .container-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-name {
    margin-top: -30px;
  }
}

.block-name {
  /*width: 270px;*/
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .block-name {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .block-name {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .block-name {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .block-name:not(:first-child) {
    margin-top: 30px;
  }
}

.img-name {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .img-name {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .img-name {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .img-name {
    width: 270px;
    height: 260px;
  }
}

.name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.desc-name {
  line-height: 19px;
  text-align: center;
  margin-bottom: 16px;
}

.permanent-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .permanent-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.icons-client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (max-width: 1199px) {
  .icons-client {
    margin-top: -30px;
  }
}

.item-client {
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

@media screen and (max-width: 1199px) {
  .item-client {
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .item-client {
    flex-basis: calc(100% / 2 - 30px);
  }
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 170px;*/
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover, .link-client:focus {
  border: 1px solid #2196F3;
}

.client {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover .client, .link-client:focus .client {
  fill: #2196F3;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 93px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 221px;
  }
}

.is-hidden .modal {
  transform: translateX(-50%) scale(0.125);
}

.relative {
  position: relative;
}

.modal-form {
  padding: 40px;
}

.modal-text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .modal-text {
    line-height: 30px;
  }
}

.label-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-name-label, .modal-phone-label, .modal-email-label {
  display: block;
}

.modal-name-label {
  margin-top: 6px;
}

.modal-phone-label, .modal-email-label {
  margin-top: 4px;
}

.modal-comment-label {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.modal-input {
  padding-left: 40px;
  height: 40px;
}

.modal-input:hover, .modal-input:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.modal-input-comment {
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}

.modal-input-comment:hover, .modal-input-comment:focus {
  border-color: #2196F3;
  outline: #2196F3;
  cursor: pointer;
}

.modal-input-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input, .modal-input-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover ~ .modal-svg, .modal-input:focus ~ .modal-svg {
  fill: #2196F3;
}

.modal-checkbox-label {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  border: 0px;
  clip: rect(0 0 0 0);
}

.checkbox-svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-svg {
  background-color: #2196F3;
  border-color: #2196F3;
}

.checkbox-link {
  color: #2196F3;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */