header {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-header-border;

    @include breakpoint(non-tablet) {
        font-size: 18px;
        line-height: 21px;
    }

    & .logo {
        margin-right: 93px;
    }
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;

    @include breakpoint(non-tablet) {
        justify-content: space-between;
        flex-grow: 1;
    }
}

.container-nav {
    display: none;

    @include breakpoint(tablet) {
        display: inline-flex;
    }
}

.container-address {
    display: none;

    @include breakpoint(tablet) {
        display: block;
    }

    @include breakpoint(desktop) {
        display: inline-flex;
    }
}

.nav-item, .mobile-nav-item {
    position: relative;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.contact-item:not(:last-child) {
    @include breakpoint(only-tablet) {
        margin-bottom: 10px;
    }

    @include breakpoint(desktop) {
        margin-right: 50px;
    }
}

.contact-item:last-child {
    @include breakpoint(only-tablet) {
        
    }
}

.nav {
    color: $color-header;
}

.contact-header {
    display: flex;
    align-items: center;
    color: $color-primary;
    font-style: normal;
}

.nav, .contact-header {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover, .nav:focus, 
.contact-header:hover, .contact-header:focus {
    color: $color-accent;
    /* text-decoration: underline; */
    cursor: pointer;
}

.studio, .portfolio {
    color: $color-accent;
}

.studio::after, .portfolio::after {
    content: '';
    background-color: $color-accent;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -8px;

    @include breakpoint(tablet) {
        bottom: -38px;
    }

    @include breakpoint(desktop) {
        bottom: -32px;
    }
}

.studio::after {
    @include breakpoint(non-tablet) {
        width: 66px;
        left: calc((100% - 66px)/2);
    }
}

.portfolio::after {
    @include breakpoint(non-tablet) {
        width: 99px;
        left: calc((100% - 99px)/2);
    }
}

.mobile-menu {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    background-color: $color-background;
    opacity: 0;
    visibility: hidden;

    @include breakpoint(tablet) {
        display: none;
    }
}

.mobile-menu.open {
    opacity: 1;
    visibility: visible;
    z-index: 13;
    border-bottom: 1px solid $color-header-border;
}

.hero.hidden {
    display: none;
}

.container-mobile-nav {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-mobile-address {
    padding-bottom: 60px;
}

.mobile-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contact-item:not(:last-child) {
    margin-bottom: 16px;
}

.mobile-contact-item .contact-header {
    justify-content: center;
}