.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $color-hero-background;
    background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main {
    font-weight: 900;
    font-size: 44px;
    color: $color-background;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 60px;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}