.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $color-hero-background;
    background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon-m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon-m@2x.jpg);
    }

    @include breakpoint(tablet) {
        background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon-t.jpg);

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon-t@2x.jpg);
        }
    }

    @include breakpoint(desktop) {
        background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon.jpg);
        padding-top: 200px;
        padding-bottom: 200px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon@2x.jpg);
        }
    }
}

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    color: $color-background;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;

    @include breakpoint(non-desktop) {
        width: 360px;
        height: 84px;
        font-size: 26px;
        line-height: 42px;
    }

    @media screen and (max-width: 359px) {
        width: 100%;
        height: 126px;
    }
}