.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $color-hero-background;
    background-image: linear-gradient(to right, $color-hero-gradient, $color-hero-gradient), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 42px;
    font-weight: 900;
    color: $color-background;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;

    @include breakpoint(desktop) {
        width: 696px;
        height: 120px;
        font-size: 44px;
        line-height: 60px;
    }
}