.logo {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 26px;
    color: $color-accent;
    line-height: 31px;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover, &:focus {
        color: $color-accent;
        /* text-decoration: underline; */
        cursor: pointer;
    }
}

.logo-header {
    color: $color-header;
}

.logo-footer {
    color: $color-background;
}