.item-web:not(:last-child), .item-footer-web:not(:last-child) {
    margin-right: 10px;
}

.link-web {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $color-background;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $color-accent;
    }
}

.link-footer-web {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $color-footer-link-background;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: $color-accent;
    }
}