* {
    margin: 0px;
    padding: 0px;
}

/* for testing only */
*, ::after, ::before {
    outline: 2px solid red;
}

p, h1, h2, h3, ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $color-primary;
    letter-spacing: 0.03em;
    line-height: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint(mobile) {
        width: 480px;
    }

    @include breakpoint(tablet) {
        width: 768px;
    }

    @include breakpoint(desktop) {
        width: 1200px;
    }
}

.header-section {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    color: $color-header;
    text-align: center;
    margin-bottom: 50px;

    @include breakpoint(desktop) {
        font-size: 36px;
        line-height: 42px;
    }

    @include breakpoint(non-desktop) {
        margin-bottom: 30px;
    }
}

.block-portfolio, .permanent-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.icons-web, .icons-client {
    display:flex;
    justify-content: center;
}