$color-primary: #757575;
$color-header: #212121;
$color-accent: #2196F3;
$color-icon: #AFB1B8;
$color-background: #FFFFFF;
$color-header-border: #ECECEC;
$color-project-border: #EEEEEE;
$color-footer-background: #2F303A;
$color-button-background: #F5F4FA;
$color-button-main-background: #188CE8;
$color-hero-background: #C4C4C4;
$color-close: #000000;
$color-shadow-1: rgba(0, 0, 0, 0.06);
$color-shadow-2: rgba(0, 0, 0, 0.08);
$color-shadow-3: rgba(0, 0, 0, 0.1);
$color-shadow-4: rgba(0, 0, 0, 0.12);
$color-shadow-5: rgba(0, 0, 0, 0.14);
$color-shadow-6: rgba(0, 0, 0, 0.15);
$color-shadow-7: rgba(0, 0, 0, 0.16);
$color-shadow-8: rgba(0, 0, 0, 0.2);
$color-hero-gradient: rgba(47, 48, 58, 0.4);
$color-sign: rgba(47, 48, 58, 0.8);
$color-overlay: rgba(33, 150, 243, 0.9);
$color-modal-input: rgba(117, 117, 117, 0.5);
$color-modal-input-border: rgba(33, 33, 33, 0.2);
$color-footer-contact: rgba(255, 255, 255, 0.6);
$color-footer-link-background: rgba(255, 255, 255, 0.1);
$color-input-border: rgba(255, 255, 255, 0.3);
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;                 